.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#logo1{
width: 60%;
}
.in{
  width: 650px;
  height: 55px;
  margin-top:10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #e9edf8;
}
ul li{
  list-style: none;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0 10px;
  background-color: white !important;
}
.search{
  position: absolute;
  left: 300px;
  top: 30px;
}
ul li i{
   margin-right: 35px;
}
ul li:hover{
  background-color: rgb(224, 235, 239) !important;
}
.ml{
  margin-left:3%;
}
body{
  background: #f6f8f9 !important;
}
.content1 ul li{
  margin-left: 30px;
}
.content1 ul li:first-child{
  margin-left: 100px;
}
#thumb{
  height: 200px;
}
#actions1{
  color: rgb(45, 38, 244) !important;
  padding: 10px;
}
#actions2{
  color: red;
  padding: 10px;
}